body {
    font-family: Arial, Helvetica, sans-serif;
    animation: gantiWarna 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes gantiWarna {
      0%   { background-color: rgb(255, 0, 0); }   /* Merah */
      25%  { background-color: rgb(0, 255, 0); }   /* Hijau */
      50%  { background-color: rgb(0, 0, 255); }   /* Biru */
      75%  { background-color: rgb(255, 255, 0); } /* Kuning */
      100% { background-color: rgb(255, 0, 255); } /* Ungu */
    }

.container {
    background-color: white;
    padding: 20px;    
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}
x   
h2 {
margin-bottom: 20px;
color: #ffffff;
}

label{
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #374151;
}

input{
    width: 325px; 
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    margin-bottom: 15px;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #2563eb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3;
}

button:hover{
    background: #1d4ed8;
}

.result{
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}